@* @model CapaTours.Models.ToursModel *@

<div class="row px-5">
    <div class="col-12 px-0">
        <div class="row mx-1 mb-4">
            <div class="col-auto">
                <a href="@Url.Action("Listado", "Resennas")" class="btn btn-secondary btn-sm">
                    <i class="fa-solid fa-arrow-left"></i> Regresar
                </a>
            </div>
        </div>

        <div class="row mx-1 mb-4">
            <div class="display-3 px-0 col-12">Editar Reseñas</div>
            <div class="text-muted px-0">Modifique los datos de la reseña y guarde los cambios.</div>
        </div>

        <div class="mt-4 p-5 rounded shadow-lg" style="background-color: #f9f9f9; border-left: 5px solid #44572F;">

            @*  <form asp-action="ActualizarResenna" asp-controller="Resennas" method="post">
            <input type="hidden" asp-for="Id" /> *@

            <h5 class="text mt-4">Información de la Reseña</h5>
            <hr>
            <div class="row g-3 mt-2">
                <!-- Calificación -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <label>Calificación (Del 1 al 5)</label>
                        <input type="number" class="form-control input-lg" @*asp-for="Calificacion"*@ required>
                    </div>
                </div>
            </div>
            <!-- Título -->
            <div class="row g-3 mt-2">
                <div class="col-md-12">
                    <div class="form-floating">
                        <label>Título</label>
                        <input type="text" class="form-control input-lg" @*asp-for="Titulo"*@ required>
                    </div>
                </div>
            </div>
            <!-- Contenido -->
            <div class="row g-3 mt-2">
                <div class="col-md-12">
                    <div class="form-floating">
                        <label>Contenido</label>
                        <input type="text" class="form-control input-lg" @*asp-for="Contenido"*@ required>
                    </div>
                </div>
            </div>

            <div class="row g-2 mt-4">
                <div class="col-md">
                    <button type="submit" class="btn btn-success w-100" style="background-color: #44572f">
                        <i class="fa-solid fa-save"></i> Guardar Cambios
                    </button>
                </div>
            </div>
            @* </form> *@
        </div>
    </div>
</div>