﻿-- =============================================
-- Object:  StoredProcedure [dbo].[ActivarUsuario]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[ActivarUsuario]
    @UsuarioID bigint
AS
BEGIN
    UPDATE Usuarios
    SET Estado = 1
    WHERE UsuarioID = @UsuarioID
END;