﻿-- =============================================
-- Object:  StoredProcedure [dbo].[ActivarTour]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[ActivarTour]
    @TourID bigint
AS
BEGIN
    UPDATE Tours
    SET Estado = 1
    WHERE TourID = @TourID
END;