﻿-- =============================================
-- Object:  StoredProcedure [dbo].[ConsultarToursActivos]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[ConsultarToursActivos]
AS
BEGIN
    SELECT * FROM Tours WHERE Estado = 1;
END;