﻿-- =============================================
-- Object:  StoredProcedure [dbo].[ConsultarTours]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[ConsultarTours]
	@TourID BIGINT
AS
BEGIN
	SET NOCOUNT ON;

	IF (@TourID = 0) SET @TourID = NULL;

	SELECT
		TourID,
		Nombre,
		Destino,
		Precio,
		Capacidad,
		FechaInicio,
		FechaFin,
		Estado,
		Descuento,
		Descripcion,
		Itinerario,
		Imagen
	FROM dbo.Tours
	WHERE TourID = ISNULL(@TourID, TourID)
	ORDER BY 
		CASE WHEN Estado = 1 THEN 0 ELSE 1 END,
		CASE WHEN FechaInicio IS NOT NULL THEN 0 ELSE 1 END,
		FechaInicio,
		CASE WHEN FechaFin IS NOT NULL THEN 0 ELSE 1 END,
		FechaFin;

	IF @TourID IS NOT NULL
	BEGIN
		SELECT
			R.UsuarioID,
			U.Nombre + ' ' + U.ApellidoPaterno + ' ' + U.ApellidoMaterno AS NombreUsuario,
			R.Calificacion,
			R.Titulo,
			R.Contenido
		FROM dbo.Resennas R
		INNER JOIN dbo.Usuarios U ON R.UsuarioID = U.UsuarioID
		WHERE R.TourID = @TourID;
	END
END;