-- =============================================
-- Object:  StoredProcedure [dbo].[DesactivarUsuario]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[DesactivarUsuario]
    @UsuarioID bigint
AS
BEGIN
    UPDATE Usuarios
    SET Estado = 0
    WHERE UsuarioID = @UsuarioID
END;