-- =============================================
-- Object:  StoredProcedure [dbo].[DesactivarTour]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[DesactivarTour]
    @TourID bigint
AS
BEGIN
    UPDATE Tours
    SET Estado = 0
    WHERE TourID = @TourID
END;