-- =============================================
-- Object:  StoredProcedure [dbo].[EditarTour]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[EditarTour]
    @TourID bigint,
    @Nombre varchar(50),
    @Destino varchar(255),
    @Precio decimal(10, 2),
    @Capacidad int,
    @FechaInicio datetime,
    @FechaFin datetime,
    @Descripcion varchar(1000),
    @Itinerario varchar(1000),
	@Imagen varchar(1000)
AS
BEGIN
    UPDATE [dbo].[Tours]
    SET 
        [Nombre] = @Nombre,
        [Destino] = @Destino,
        [Precio] = @Precio,
        [Capacidad] = @Capacidad,
        [FechaInicio] = @FechaInicio,
        [FechaFin] = @FechaFin,
        [Descripcion] = @Descripcion,
        [Itinerario] = @Itinerario,
		[Imagen] = CASE 
                      WHEN @Imagen IS NOT NULL AND LTRIM(RTRIM(@Imagen)) <> '' 
                      THEN @Imagen 
                      ELSE [Imagen] 
                   END
    WHERE [TourID] = @TourID;
END;