-- =============================================
-- Object:  StoredProcedure [dbo].[Login]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[Login]
    @correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    SELECT  U.UsuarioID,
            U.Identificacion,
            U.Nombre,
            U.Correo,
            U.Estado,
            U.RolID,
            R.NombreRol
    FROM    dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE   U.Correo = @Correo
            AND U.Contrasenna = @Contrasenna
            AND U.Estado = 1 -- Solo usuarios activos
END;