-- =============================================
-- Object:  StoredProcedure [dbo].[ObtenerUsuarioPorCorreo]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE PROCEDURE [dbo].[ObtenerUsuarioPorCorreo]
    @Correo VARCHAR(100)
AS
BEGIN
    SELECT UsuarioID, Identificacion, Nombre, ApellidoPaterno, ApellidoMaterno,
           Correo, Estado, RolID
    FROM Usuarios
    WHERE LTRIM(RTRIM(Correo)) = LTRIM(RTRIM(@Correo)) AND Estado = 1;
END;