-- =============================================
-- Object:  StoredProcedure [dbo].[ObtenerUsuarioPorReserva]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE   PROCEDURE [dbo].[ObtenerUsuarioPorReserva]
    @ReservaID BIGINT
AS
BEGIN
    SELECT UsuarioID
    FROM Reservas
    WHERE ReservaID = @ReservaID;
END;