-- =============================================
-- Object:  Table [dbo].[AuditoriaErrores]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE TABLE [dbo].[AuditoriaErrores](
	[ErrorID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Mensaje] [varchar](max) NOT NULL,
	[Origen] [varchar](250) NOT NULL,
	
	CONSTRAINT FK_AuditoriaErrores_Usuarios FOREIGN KEY (UsuarioID) 
		REFERENCES [dbo].[Usuarios](UsuarioID)
);