-- =============================================
-- Object:  Table [dbo].[Pagos]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE TABLE [dbo].[Pagos] (
    PagoID BIGINT IDENTITY(1,1) PRIMARY KEY,
    ReservaID BIGINT NOT NULL,
    Fecha DATETIME NOT NULL,
    Comprobante VARCHAR(1000) NOT NULL,
    Monto DECIMAL(10, 2) NOT NULL,
	
    CONSTRAINT FK_Pagos_Reservas FOREIGN KEY (ReservaID) 
		REFERENCES dbo.Reservas (ReservaID)
);