-- =============================================
-- Object:  Table [dbo].[Resennas]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE TABLE [dbo].[Resennas] (
    ResennaID BIGINT IDENTITY(1,1) PRIMARY KEY,
    UsuarioID BIGINT NOT NULL,
    TourID BIGINT NOT NULL,
    ReservaID BIGINT NOT NULL,
    Calificacion INT NOT NULL CHECK (Calificacion BETWEEN 1 AND 5),
    Titulo VARCHAR(50) NOT NULL,
    Contenido VARCHAR(1000) NOT NULL,
    
    CONSTRAINT FK_Resennas_Usuarios FOREIGN KEY (UsuarioID) 
		REFERENCES dbo.Usuarios(UsuarioID),
    CONSTRAINT FK_Resennas_Tours FOREIGN KEY (TourID) 
		REFERENCES dbo.Tours(TourID),
    CONSTRAINT FK_Resennas_Reservas FOREIGN KEY (ReservaID) 
		REFERENCES dbo.Reservas(ReservaID)
);