-- =============================================
-- Object:  Table [dbo].[Roles]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE TABLE [dbo].[Roles] (
    RolID BIGINT IDENTITY(1,1) PRIMARY KEY,
    NombreRol VARCHAR(50) NOT NULL
);