-- =============================================
-- Object:  Table [dbo].[Tours]
-- Script Date: 25-Apr-25 23:52:49
-- =============================================

CREATE TABLE [dbo].[Tours] (
    TourID BIGINT IDENTITY(1,1) PRIMARY KEY,
    Nombre VARCHAR(50) NOT NULL,
    Destino VARCHAR(255) NOT NULL,
    Descripcion VARCHAR(1000) NOT NULL,
    Itinerario VARCHAR(1000) NOT NULL,
    Precio DECIMAL(10, 2) NOT NULL,
    Capacidad INT NOT NULL,
    FechaInicio DATETIME NOT NULL,
    FechaFin DATETIME NOT NULL,
    Estado BIT NOT NULL DEFAULT 1,
    Descuento DECIMAL(3, 1) NULL
);