-- =====================================================
-- Object:  StoredProcedure [dbo].[ActivarTour]
-- =====================================================

CREATE PROCEDURE [dbo].[ActivarTour]
    @TourID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Tours
    SET Estado = 1
    WHERE TourID = @TourID;
END;