-- =====================================================
-- Object:  StoredProcedure [dbo].[ActivarUsuario]
-- =====================================================

CREATE PROCEDURE [dbo].[ActivarUsuario]
    @UsuarioID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuarios
    SET Estado = 1
    WHERE UsuarioID = @UsuarioID;
END;