-- =====================================================
-- Object:  StoredProcedure [dbo].[ConsultarTours]
-- =====================================================

CREATE PROCEDURE [dbo].[ConsultarTours]
    @TourID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    IF (@TourID = 0)
        SET @TourID = NULL;

    SELECT
        TourID,
        Nombre,
        Destino,
        Precio,
        Capacidad,
        FechaInicio,
        FechaFin,
        Estado,
        Descuento,
        Descripcion,
        Itinerario
    FROM dbo.Tours
    WHERE TourID = ISNULL(@TourID, TourID);
END;