-- =====================================================
-- Object:  StoredProcedure [dbo].[ConsultarToursActivos]
-- =====================================================

CREATE PROCEDURE [dbo].[ConsultarToursActivos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Tours
    WHERE Estado = 1;
END;