-- =====================================================
-- Object:  StoredProcedure [dbo].[CrearTour]
-- =====================================================

CREATE PROCEDURE [dbo].[CrearTour]
    @Nombre VARCHAR(50),
    @Destino VARCHAR(255),
    @Precio DECIMAL(10, 2),
    @Capacidad INT,
    @FechaInicio DATETIME,
    @FechaFin DATETIME,
    @Descripcion VARCHAR(1000),
    @Itinerario VARCHAR(1000)
    -- Falta la imagen
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[Tours]
           ([Nombre],
            [Destino],
            [Precio],
            [Capacidad],
            [FechaInicio],
            [FechaFin],
            [Descripcion],
            [Itinerario],
            [Estado],
            [Descuento])
    VALUES
           (@Nombre, 
            @Destino,
            @Precio,
            @Capacidad,
            @FechaInicio,
            @FechaFin,
            @Descripcion,
            @Itinerario,
            1,  
            0); 
END;