-- =====================================================
-- Object:  StoredProcedure [dbo].[DesactivarUsuario]
-- =====================================================

CREATE PROCEDURE [dbo].[DesactivarUsuario]
    @UsuarioID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuarios
    SET Estado = 0
    WHERE UsuarioID = @UsuarioID;
END;