-- =====================================================
-- Object:  StoredProcedure [dbo].[DesactivarTour]
-- =====================================================

CREATE PROCEDURE [dbo].[DesactivarTour]
    @TourID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Tours
    SET Estado = 0
    WHERE TourID = @TourID;
END;