-- =====================================================
-- Object:  StoredProcedure [dbo].[EditarTour]
-- =====================================================

CREATE PROCEDURE [dbo].[EditarTour]
    @TourID BIGINT,
    @Nombre VARCHAR(50),
    @Destino VARCHAR(255),
    @Precio DECIMAL(10, 2),
    @Capacidad INT,
    @FechaInicio DATETIME,
    @FechaFin DATETIME,
    @Descripcion VARCHAR(1000),
    @Itinerario VARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Tours]
    SET 
        [Nombre] = @Nombre,
        [Destino] = @Destino,
        [Precio] = @Precio,
        [Capacidad] = @Capacidad,
        [FechaInicio] = @FechaInicio,
        [FechaFin] = @FechaFin,
        [Descripcion] = @Descripcion,
        [Itinerario] = @Itinerario
    WHERE [TourID] = @TourID;
END;