-- =====================================================
-- Object:  StoredProcedure [dbo].[Login]
-- =====================================================

CREATE PROCEDURE [dbo].[Login]
    @Correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
            U.UsuarioID,
            U.Identificacion,
            U.Nombre AS NombreUsuario,
            U.Correo,
            U.Estado,
            U.RolID,
            R.NombreRol AS NombreRol
    FROM    dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE   U.Correo = @Correo
            AND U.Contrasenna = @Contrasenna
            AND U.Estado = 1;
END;