-- =====================================================
-- Object:  StoredProcedure [dbo].[ObtenerUsuarioCompleto]
-- =====================================================

CREATE PROCEDURE [dbo].[ObtenerUsuarioCompleto]
    @Correo VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        U.UsuarioID,
        U.Identificacion,
        U.Nombre,
        U.ApellidoPaterno,
        U.ApellidoMaterno,
        U.Correo,
        U.Estado,
        U.RolID,
        R.NombreRol AS NombreRol
    FROM dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE U.Correo = @Correo;
END;