-- =====================================================
-- Object:  StoredProcedure [dbo].[ObtenerUsuarioPorReserva]
-- =====================================================

CREATE PROCEDURE [dbo].[ObtenerUsuarioPorReserva]
    @ReservaID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UsuarioID
    FROM Reservas
    WHERE ReservaID = @ReservaID;
END;