-- =====================================================
-- Object:  StoredProcedure [dbo].[ObtenerReservasPorUsuario]
-- =====================================================

CREATE PROCEDURE [dbo].[ObtenerReservasPorUsuario]
    @UsuarioID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        R.ReservaID,
        T.Nombre AS NombreTour,
        T.Precio,                      
        T.FechaInicio,
        T.FechaFin,
        R.CantidadPersonas,
        R.Estado
    FROM Reservas R
    INNER JOIN Tours T ON R.TourID = T.TourID
    WHERE R.UsuarioID = @UsuarioID;
END;