USE [CapaToursBD]
GO
/****** Object:  Table [dbo].[AuditoriaErrores]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaErrores](
	[ErrorID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Mensaje] [varchar](max) NOT NULL,
	[Origen] [varchar](250) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReservaID] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Comprobante] [nvarchar](max) NULL,
	[Monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resennas]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resennas](
	[ResennaID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[TourID] [bigint] NOT NULL,
	[ReservaID] [bigint] NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Contenido] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResennaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ReservaID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[TourID] [bigint] NOT NULL,
	[CantidadPersonas] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Destino] [varchar](255) NOT NULL,
	[Descripcion] [varchar](1000) NOT NULL,
	[Itinerario] [varchar](1000) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Descuento] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToursImagenes]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToursImagenes](
	[ImagenID] [bigint] IDENTITY(1,1) NOT NULL,
	[TourID] [bigint] NOT NULL,
	[Imagen] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [bigint] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](15) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Contrasenna] [varchar](255) NOT NULL,
	[TieneContrasennaTemp] [bit] NULL,
	[FechaVencimientoTemp] [datetime] NULL,
	[Estado] [bit] NOT NULL,
	[RolID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([PagoID], [ReservaID], [Fecha], [Comprobante], [Monto]) VALUES (3, 14, CAST(N'2025-04-23T22:54:02.593' AS DateTime), N'/img/comprobantes/f6527156-7c81-4733-8a7b-8a3ad3b4f64c.jpg', CAST(46000.00 AS Decimal(10, 2)))
INSERT [dbo].[Pagos] ([PagoID], [ReservaID], [Fecha], [Comprobante], [Monto]) VALUES (4, 15, CAST(N'2025-04-23T23:05:35.847' AS DateTime), N'/img/comprobantes/8957e85c-debf-4b04-8fdc-642cde4d40d6.jpg', CAST(4646646.00 AS Decimal(10, 2)))
INSERT [dbo].[Pagos] ([PagoID], [ReservaID], [Fecha], [Comprobante], [Monto]) VALUES (5, 16, CAST(N'2025-04-24T01:02:55.270' AS DateTime), N'/img/comprobantes/8c4713f4-ed64-49f9-9260-7bc187b2b165.jpg', CAST(696.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([ReservaID], [UsuarioID], [TourID], [CantidadPersonas], [Estado]) VALUES (3, 1, 1, 4, N'En Espera')
INSERT [dbo].[Reservas] ([ReservaID], [UsuarioID], [TourID], [CantidadPersonas], [Estado]) VALUES (4, 1, 1, 4, N'En Espera')
INSERT [dbo].[Reservas] ([ReservaID], [UsuarioID], [TourID], [CantidadPersonas], [Estado]) VALUES (5, 1, 1, 2, N'En Espera')
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolID], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([RolID], [NombreRol]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([TourID], [Nombre], [Destino], [Descripcion], [Itinerario], [Precio], [Capacidad], [FechaInicio], [FechaFin], [Estado], [Descuento]) VALUES (1, N'Tour 11', N'Guanacaste', N'Tour 1 Descripción', N'1', CAST(30000.00 AS Decimal(10, 2)), 152, CAST(N'2025-03-27T08:00:00.000' AS DateTime), CAST(N'2025-04-02T20:00:00.000' AS DateTime), 0, CAST(0.0 AS Decimal(3, 1)))
INSERT [dbo].[Tours] ([TourID], [Nombre], [Destino], [Descripcion], [Itinerario], [Precio], [Capacidad], [FechaInicio], [FechaFin], [Estado], [Descuento]) VALUES (2, N'd', N'd', N'd', N'd', CAST(23000.00 AS Decimal(10, 2)), 13, CAST(N'2025-03-27T00:00:00.000' AS DateTime), CAST(N'2025-03-31T00:00:00.000' AS DateTime), 0, CAST(0.0 AS Decimal(3, 1)))
INSERT [dbo].[Tours] ([TourID], [Nombre], [Destino], [Descripcion], [Itinerario], [Precio], [Capacidad], [FechaInicio], [FechaFin], [Estado], [Descuento]) VALUES (3, N'a', N'a', N'a', N'a', CAST(25000.00 AS Decimal(10, 2)), 16, CAST(N'2025-03-27T06:00:00.000' AS DateTime), CAST(N'2025-03-31T20:00:00.000' AS DateTime), 0, CAST(0.0 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Identificacion], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Contrasenna], [TieneContrasennaTemp], [FechaVencimientoTemp], [Estado], [RolID]) VALUES (1, N'11111111111', N'Esteban', N'Quiros', N'Martinez', N'quchochucho@gmail.com', N'7EzUGiO0NqRM7OXYLqauSA==', 0, NULL, 1, 2)
INSERT [dbo].[Usuarios] ([UsuarioID], [Identificacion], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Contrasenna], [TieneContrasennaTemp], [FechaVencimientoTemp], [Estado], [RolID]) VALUES (9, N'117310079', N'Daniel', N'Vega', N'Marvez', N'jvega10079@ufide.ac.cr', N'rxrQf+L/MQCLiFKGuOqH4A==', 0, NULL, 1, 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Identificacion], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Contrasenna], [TieneContrasennaTemp], [FechaVencimientoTemp], [Estado], [RolID]) VALUES (10, N'123456789', N'Cliente', N'Apellido 1', N'Apellido 2', N'dvegamarvez@gmail.com', N'rxrQf+L/MQCLiFKGuOqH4A==', NULL, NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A19502B6E10]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A199FFC625C]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A19BE44C034]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A19F07FD3DD]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__D6F931E5162B0ED7]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__D6F931E5956AA125]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__D6F931E5A000568E]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__D6F931E5FE74844D]    Script Date: 24-Apr-25 17:35:24 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('En Espera') FOR [Estado]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[AuditoriaErrores]  WITH CHECK ADD  CONSTRAINT [FK_AuditoriaErrores_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[AuditoriaErrores] CHECK CONSTRAINT [FK_AuditoriaErrores_Usuarios]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Reservas] FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Reservas]
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD  CONSTRAINT [FK_Resennas_Reservas] FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Resennas] CHECK CONSTRAINT [FK_Resennas_Reservas]
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD  CONSTRAINT [FK_Resennas_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Resennas] CHECK CONSTRAINT [FK_Resennas_Tours]
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD  CONSTRAINT [FK_Resennas_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Resennas] CHECK CONSTRAINT [FK_Resennas_Usuarios]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Tours]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Usuarios]
GO
ALTER TABLE [dbo].[ToursImagenes]  WITH CHECK ADD  CONSTRAINT [FK_ToursImagenes_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[ToursImagenes] CHECK CONSTRAINT [FK_ToursImagenes_Tours]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD  CONSTRAINT [CHK_Resennas_Calificacion] CHECK  (([Calificacion]>=(1) AND [Calificacion]<=(5)))
GO
ALTER TABLE [dbo].[Resennas] CHECK CONSTRAINT [CHK_Resennas_Calificacion]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CHK_Reservas_Estado] CHECK  (([Estado]='Completado' OR [Estado]='Cancelado' OR [Estado]='Confirmado' OR [Estado]='En Espera'))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CHK_Reservas_Estado]
GO
/****** Object:  StoredProcedure [dbo].[ActivarTour]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActivarTour]
    @TourID bigint
AS
BEGIN
    UPDATE Tours
    SET Estado = 1
    WHERE TourID = @TourID
END
GO
/****** Object:  StoredProcedure [dbo].[ActivarUsuario]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActivarUsuario]
    @UsuarioID bigint
AS
BEGIN
    UPDATE Usuarios
    SET Estado = 1
    WHERE UsuarioID = @UsuarioID
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarClientes]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarClientes]
	@UsuarioID BIGINT
AS
BEGIN
	IF (@UsuarioID = 0)
		SET @UsuarioID = NULL

	SELECT 
		UsuarioID, 
		Identificacion, 
		Nombre, 
		ApellidoPaterno,
		ApellidoMaterno,
		Correo, 
		Estado,
		RolID
	FROM dbo.Usuarios
	WHERE UsuarioID = ISNULL(@UsuarioID, UsuarioID)
	AND RolID = 2;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarReserva]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarReserva]
    @ReservaID BIGINT
AS
BEGIN
    SELECT
        R.ReservaID,
        R.UsuarioID,
        R.TourID,
        R.CantidadPersonas,
        R.Estado,
        T.Nombre AS NombreTour,
        T.Precio,
        T.FechaInicio,
        T.FechaFin,
        U.Nombre,
        U.Correo
    FROM dbo.Reservas R
    INNER JOIN dbo.Tours T ON R.TourID = T.TourID
    INNER JOIN dbo.Usuarios U ON R.UsuarioID = U.UsuarioID 
    WHERE R.ReservaID = @ReservaID;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarTours]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarTours]
	@TourID BIGINT
AS
BEGIN

	IF (@TourID = 0) SET @TourID = NULL

    SELECT
		TourID,
        Nombre,
        Destino,
        Precio,
        Capacidad,
        FechaInicio,
        FechaFin,
        Estado,
        Descuento,
		Descripcion,
		Itinerario
    FROM dbo.Tours
	WHERE TourID = ISNULL(@TourID, TourID)
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarToursActivos]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarToursActivos]
AS
BEGIN
    SELECT * FROM Tours WHERE Estado = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearReservaTour]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearReservaTour]
    @UsuarioID BIGINT,
    @TourID BIGINT,
    @CantidadPersonas INT
AS
BEGIN
    DECLARE @CapacidadDisponible INT

    SELECT @CapacidadDisponible = (T.Capacidad - ISNULL(SUM(R.CantidadPersonas), 0))
    FROM Tours T
    LEFT JOIN Reservas R ON T.TourID = R.TourID AND R.Estado IN ('En Espera', 'Confirmado')
    WHERE T.TourID = @TourID
    GROUP BY T.Capacidad

    IF @CapacidadDisponible >= @CantidadPersonas
    BEGIN
        INSERT INTO Reservas (UsuarioID, TourID, CantidadPersonas)
        VALUES (@UsuarioID, @TourID, @CantidadPersonas)
    END
    ELSE
    BEGIN
        RAISERROR('No hay suficiente capacidad disponible.', 16, 1)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CrearTour]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearTour]
    @Nombre VARCHAR(50),
    @Destino VARCHAR(255),
    @Precio DECIMAL(10, 2),
    @Capacidad INT,
    @FechaInicio DATETIME,
    @FechaFin DATETIME,
    @Descripcion VARCHAR(1000),
    @Itinerario VARCHAR(1000)
	-- Falta la imagen
AS
BEGIN
    INSERT INTO [dbo].[Tours]
           ([Nombre],
            [Destino],
            [Precio],
            [Capacidad],
            [FechaInicio],
            [FechaFin],
            [Descripcion],
            [Itinerario],
			[Estado],
			[Descuento])
    VALUES
           (@Nombre, 
            @Destino,
            @Precio,
            @Capacidad,
            @FechaInicio,
            @FechaFin,
            @Descripcion,
            @Itinerario,
			1,
			0)
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivarTour]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarTour]
    @TourID bigint
AS
BEGIN
    UPDATE Tours
    SET Estado = 0
    WHERE TourID = @TourID
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivarUsuario]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarUsuario]
    @UsuarioID bigint
AS
BEGIN
    UPDATE Usuarios
    SET Estado = 0
    WHERE UsuarioID = @UsuarioID
END
GO
/****** Object:  StoredProcedure [dbo].[EditarTour]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarTour]
    @TourID bigint,
    @Nombre varchar(50),
    @Destino varchar(255),
    @Precio decimal(10, 2),
    @Capacidad int,
    @FechaInicio datetime,
    @FechaFin datetime,
    @Descripcion varchar(1000),
    @Itinerario varchar(1000)
AS
BEGIN
    UPDATE [dbo].[Tours]
    SET 
        [Nombre] = @Nombre,
        [Destino] = @Destino,
        [Precio] = @Precio,
        [Capacidad] = @Capacidad,
        [FechaInicio] = @FechaInicio,
        [FechaFin] = @FechaFin,
        [Descripcion] = @Descripcion,
        [Itinerario] = @Itinerario
    WHERE [TourID] = @TourID;
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login]
    @correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    SELECT  U.UsuarioID,
            U.Identificacion,
            U.Nombre,
            U.Correo,
            U.Estado,
            U.RolID,
            R.NombreRol
    FROM    dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE   U.Correo = @Correo
            AND U.Contrasenna = @Contrasenna
            AND U.Estado = 1 -- Solo usuarios activos
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerReservasPorUsuario]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerReservasPorUsuario]
    @UsuarioID BIGINT
AS
BEGIN
    SELECT 
        R.ReservaID,
        T.Nombre AS NombreTour,
        T.Precio,                      
        T.FechaInicio,
        T.FechaFin,
        R.CantidadPersonas,
        R.Estado
    FROM Reservas R
    INNER JOIN Tours T ON R.TourID = T.TourID
    WHERE R.UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioCompleto]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioCompleto]
    @correo VARCHAR(100)
AS
BEGIN
    SELECT  
        U.UsuarioID,
        U.Identificacion,
        U.Nombre,
        U.ApellidoPaterno,
        U.ApellidoMaterno,
        U.Correo,
        U.Estado,
        U.RolID,
        R.NombreRol AS NombreRol
    FROM dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE U.Correo = @Correo
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorCorreo]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorCorreo]
    @Correo VARCHAR(100)
AS
BEGIN
    SELECT UsuarioID, Identificacion, Nombre, ApellidoPaterno, ApellidoMaterno,
           Correo, Estado, RolID
    FROM Usuarios
    WHERE LTRIM(RTRIM(Correo)) = LTRIM(RTRIM(@Correo)) AND Estado = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorReserva]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerUsuarioPorReserva]
    @ReservaID BIGINT
AS
BEGIN
    SELECT UsuarioID
    FROM Reservas
    WHERE ReservaID = @ReservaID;
END
GO
/****** Object:  StoredProcedure [dbo].[PagarReserva]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PagarReserva]
    @ReservaID INT,
    @Comprobante NVARCHAR(MAX),
    @Monto DECIMAL(10, 2),
    @CantidadPersonas INT
AS
BEGIN
    INSERT INTO Pagos (ReservaID, Comprobante, Monto, Fecha)
    VALUES (@ReservaID, @Comprobante, @Monto, GETDATE());

    UPDATE Reservas
    SET Estado = 'Confirmado',
        CantidadPersonas = @CantidadPersonas
    WHERE ReservaID = @ReservaID;
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarError]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarError]
	@UsuarioID bigint,
	@Mensaje varchar(MAX),
	@Origen varchar(250)
AS
BEGIN
	
	INSERT INTO dbo.AuditoriaErrores(UsuarioID, FechaHora, Mensaje, Origen)
     VALUES (@UsuarioID, GETDATE(), @Mensaje, @Origen)

END;
GO
/****** Object:  StoredProcedure [dbo].[Registro]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Registro]
    @Identificacion VARCHAR(15),
    @Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    IF NOT EXISTS(SELECT 1 FROM dbo.Usuarios WHERE Identificacion = @Identificacion OR Correo = @Correo)
    BEGIN
        INSERT INTO dbo.Usuarios 
        (Identificacion, Contrasenna, Nombre, ApellidoPaterno, ApellidoMaterno, Correo, Estado, RolID)
        VALUES 
        (@Identificacion, @Contrasenna, @Nombre, @ApellidoPaterno, @ApellidoMaterno, @Correo, 1, 2);

        PRINT 'Cuenta registrada correctamente.'
    END
    ELSE
    BEGIN
        PRINT 'La identificación o el correo ya están registrados.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[RestablecerContrasenna]    Script Date: 24-Apr-25 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestablecerContrasenna]
    @Correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    UPDATE Usuarios
    SET Contrasenna = @Contrasenna,
        TieneContrasennaTemp = 0,
        FechaVencimientoTemp = NULL
    WHERE Correo = @Correo AND Estado = 1;
END
GO
