USE [master]
GO

CREATE DATABASE [CapaToursBD]
GO

USE [CapaToursBD]
GO

﻿-- =============================================
-- TABLAS
-- =============================================

CREATE TABLE [dbo].[Roles] (
	[RolID] [bigint] IDENTITY(1,1) PRIMARY KEY,
	[NombreRol] [varchar](50) NOT NULL
)
GO

CREATE TABLE [dbo].[Usuarios] (
    [UsuarioID] [bigint] IDENTITY(1,1) PRIMARY KEY,
    [Identificacion] [varchar](15) UNIQUE NOT NULL,
    [Nombre] [varchar](50) NOT NULL,
    [ApellidoPaterno] [varchar](50) NOT NULL,
    [ApellidoMaterno] [varchar](50) NOT NULL,
    [Correo] [varchar](100) UNIQUE NOT NULL,
    [Contrasenna] [varchar](255) NOT NULL,
    [TieneContrasennaTemp] [bit] NULL,
    [FechaVencimientoTemp] [datetime] NULL,
    [Estado] [bit] NOT NULL DEFAULT(1),
	[RolID] [bigint] NOT NULL,
    CONSTRAINT FK_Usuarios_Roles FOREIGN KEY ([RolID]) REFERENCES [dbo].[Roles] ([RolID])
)
GO

CREATE TABLE [dbo].[Tours] (
    [TourID] [bigint] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](50) NOT NULL,
    [Destino] [varchar](255) NOT NULL,
    [Descripcion] [varchar](1000) NOT NULL,
    [Itinerario] [varchar](1000) NOT NULL,
    [Precio] [decimal](10,2) NOT NULL,
    [Capacidad] [int] NOT NULL,
    [FechaInicio] [datetime] NOT NULL,
    [FechaFin] [datetime] NOT NULL,
    [Estado] [bit] NOT NULL DEFAULT(1),
    [Descuento] [decimal](3,1) NULL
)
GO

CREATE TABLE [dbo].[Reservas] (
    [ReservaID] [bigint] IDENTITY(1,1) PRIMARY KEY,
    [UsuarioID] [bigint] NOT NULL,
    [TourID] [bigint] NOT NULL,
    [CantidadPersonas] [int] NOT NULL,
    [Estado] [varchar](50) NOT NULL DEFAULT('En Espera'),
	CONSTRAINT CHK_Reservas_Estado CHECK ([Estado] IN ('En Espera', 'Confirmado', 'Cancelado', 'Completado')),
    CONSTRAINT FK_Reservas_Usuarios FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios]([UsuarioID]),
    CONSTRAINT FK_Reservas_Tours FOREIGN KEY ([TourID]) REFERENCES [dbo].[Tours]([TourID])
)
GO

CREATE TABLE [dbo].[Pagos] (
    [PagoID] [bigint] IDENTITY(1,1) PRIMARY KEY,
    [ReservaID] [bigint] NOT NULL,
    [Fecha] [datetime] NOT NULL,
    [Comprobante] [varchar](1000) NOT NULL,
    [Monto] [decimal](10,2) NOT NULL,
    CONSTRAINT FK_Pagos_Reservas FOREIGN KEY ([ReservaID]) REFERENCES [dbo].[Reservas]([ReservaID])
)
GO

CREATE TABLE [dbo].[Resennas] (
    [ResennaID] [bigint] IDENTITY(1,1) PRIMARY KEY,
    [UsuarioID] [bigint] NOT NULL,
    [TourID] [bigint] NOT NULL,
    [ReservaID] [bigint] NOT NULL,
    [Calificacion] [int] NOT NULL,
    [Titulo] [varchar](50) NOT NULL,
    [Contenido] [varchar](1000) NOT NULL,
	CONSTRAINT CHK_Resennas_Calificacion CHECK ([Calificacion] BETWEEN 1 AND 5),
    CONSTRAINT FK_Resennas_Usuarios FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios]([UsuarioID]),
    CONSTRAINT FK_Resennas_Tours FOREIGN KEY ([TourID]) REFERENCES [dbo].[Tours]([TourID]),
    CONSTRAINT FK_Resennas_Reservas FOREIGN KEY ([ReservaID]) REFERENCES [dbo].[Reservas]([ReservaID])
)
GO

CREATE TABLE [dbo].[ToursImagenes] (
    [ImagenID] [bigint] IDENTITY(1,1) PRIMARY KEY,
    [TourID] [bigint] NOT NULL,
    [Imagen] [varchar](1000) NOT NULL,
    CONSTRAINT FK_ToursImagenes_Tours FOREIGN KEY ([TourID]) REFERENCES [dbo].[Tours]([TourID])
)
GO

CREATE TABLE [dbo].[AuditoriaErrores] (
	[ErrorID] [bigint] IDENTITY(1,1) PRIMARY KEY,
	[UsuarioID] [bigint] NOT NULL,
	[Mensaje] [varchar](MAX) NOT NULL,
	[Fecha] [datetime] NOT NULL DEFAULT(GETDATE()),
	[Origen] [varchar] (500) NOT NULL,
	CONSTRAINT FK_AuditoriaErrores_Usuarios FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios]([UsuarioID])
)
GO

-- =============================================
-- INSERCIONES Y CONSULTAS
-- =============================================

INSERT INTO Roles (NombreRol) VALUES
('Administrador'),
('Cliente');



INSERT INTO Reservas (UsuarioID, TourID, CantidadPersonas, Estado) VALUES
(1, 1, 2, 'Confirmado'),
(2, 2, 4, 'En Espera'),
(3, 3, 1, 'Cancelado'),
(4, 4, 3, 'Completado'),
(5, 5, 2, 'Confirmado');

INSERT INTO Pagos (ReservaID, Fecha, Comprobante, Monto) VALUES
(1, GETDATE(), 'Comprobante1', 301.00),
(2, GETDATE(), 'Comprobante2', 1003.00),
(3, GETDATE(), 'Comprobante3', 180.00),
(4, GETDATE(), 'Comprobante4', 900.00),
(5, GETDATE(), 'Comprobante5', 1000.00);

INSERT INTO Resennas (UsuarioID, TourID, ReservaID, Calificacion, Titulo, Contenido) VALUES
(1, 1, 1, 5, 'Excelente tour', 'Me encantó la experiencia'),
(2, 2, 2, 4, 'Muy bueno', 'Disfruté mucho el viaje'),
(3, 3, 3, 3, 'Aceptable', 'Podría mejorar en organización'),
(4, 4, 4, 5, 'Fantástico', 'Recomiendo este tour'),
(5, 5, 5, 4, 'Bonita experiencia', 'Fue un viaje inolvidable');

INSERT INTO ToursImagenes (TourID, Imagen) VALUES
(1, 'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/27/5e/02/2a/hotel-la-mariposa-s-actual.jpg'),
(2, 'https://www.guanacastealaaltura.com/wp-content/uploads/2023/08/Muni-1.jpg'),
(3, 'https://i.ytimg.com/vi/Sm52vj9evec/maxresdefault.jpg'),
(4, 'https://www.larepublica.net/storage/images/2025/03/01/20250301102801.untitled-design-2025-03-01t102730547.x2.jpg'),
(5, 'https://www.ecoturismo.com/media/files/468_isla-del-coco.jpg');

INSERT INTO AuditoriaErrores (UsuarioID, Mensaje, Fecha, Origen) VALUES
(1, 'Error en la reserva', GETDATE(), 'ReservasController');

SELECT * FROM Roles;

SELECT * FROM Usuarios;

SELECT * FROM Tours;

SELECT * FROM Reservas;

SELECT * FROM Pagos;

SELECT * FROM Resennas;

SELECT * FROM ToursImagenes;

SELECT * FROM AuditoriaErrores;

-- =============================================
-- PROCEDIMIENTOS ALMACENADOS
-- =============================================

CREATE PROCEDURE [dbo].[Login]
    @correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    -- Seleccionar los datos del usuario si la identificación y la contraseña coinciden, y si el usuario está activo
    SELECT  U.UsuarioID,
            U.Identificacion,
            U.Nombre 'NombreUsuario',
            U.Correo,
            U.Estado,
            U.RolID,
            R.NombreRol 'NombreRol'
    FROM    dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE   U.Correo = @Correo
            AND U.Contrasenna = @Contrasenna
            AND U.Estado = 1 -- Solo usuarios activos
END
GO

CREATE PROCEDURE [dbo].[Registro]
    @Identificacion VARCHAR(15),
    @Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    -- Verificar si la identificación o el correo ya existen en la base de datos
    IF NOT EXISTS(SELECT 1 FROM dbo.Usuarios WHERE Identificacion = @Identificacion OR Correo = @Correo)
    BEGIN
        -- Si no existe, insertar el nuevo usuario con el estado activo (1) y el RolID de usuario (2)
        INSERT INTO dbo.Usuarios (Identificacion, Contrasenna, Nombre, ApellidoPaterno, ApellidoMaterno, Correo, Estado, RolID)
        VALUES (@Identificacion, @Contrasenna, @Nombre, @ApellidoPaterno, @ApellidoMaterno, @Correo, 1, 2);
        
        PRINT 'Cuenta registrada correctamente.'
    END
    ELSE
    BEGIN
        PRINT 'La identificación o el correo ya están registrados.'
    END
END
GO

CREATE PROCEDURE [dbo].[ConsultarClientes]
	@UsuarioID BIGINT
AS
BEGIN
	IF (@UsuarioID = 0)
		SET @UsuarioID = NULL

	SELECT 
		UsuarioID, 
		Identificacion, 
		Nombre, 
		Correo, 
		Estado
	FROM dbo.Usuarios
	WHERE UsuarioID = ISNULL(@UsuarioID, UsuarioID)
END
GO

CREATE PROCEDURE [dbo].[ConsultarTours]
	@TourID BIGINT
AS
BEGIN
	IF (@TourID = 0) 
		SET @TourID = NULL

    SELECT
		TourID,
        Nombre,
        Destino,
        Precio,
        Capacidad,
        FechaInicio,
        FechaFin,
        Estado,
        Descuento
    FROM dbo.Tours
	WHERE TourID = ISNULL(@TourID, TourID)
END
GO
