-- =====================================================
-- Object:  Table [dbo].[AuditoriaErrores]
-- =====================================================

CREATE TABLE [dbo].[AuditoriaErrores](
	[ErrorID] [bigint] IDENTITY(1,1) NOT NULL,
	[Mensaje] [varchar](4000) NOT NULL,
	[Fecha] [datetime] NOT NULL,
);