-- =====================================================
-- Object:  Table [dbo].[Reservas]
-- =====================================================

CREATE TABLE [dbo].Reservas (
    ReservaID BIGINT IDENTITY(1,1) PRIMARY KEY,
    UsuarioID BIGINT NOT NULL,
    TourID BIGINT NOT NULL,
    CantidadPersonas INT NOT NULL,
    Estado VARCHAR(50) NOT NULL DEFAULT 'En Espera',
    
    CONSTRAINT FK_Reservas_Usuarios FOREIGN KEY (UsuarioID)
        REFERENCES dbo.Usuarios(UsuarioID),
        
    CONSTRAINT FK_Reservas_Tours FOREIGN KEY (TourID)
        REFERENCES dbo.Tours(TourID),
        
    CONSTRAINT CHK_Reservas_Estado CHECK (
        Estado IN ('Completado', 'Cancelado', 'Confirmado', 'En Espera')
    )
);