-- =====================================================
-- Object:  Table [dbo].[Roles]
-- =====================================================

CREATE TABLE [dbo].Roles (
    RolID BIGINT IDENTITY(1,1) PRIMARY KEY,
    NombreRol VARCHAR(50) NOT NULL
);