-- =====================================================
-- Object:  Table [dbo].[ToursImagenes]
-- =====================================================

CREATE TABLE [dbo].ToursImagenes (
    ImagenID BIGINT IDENTITY(1,1) PRIMARY KEY,
    TourID BIGINT NOT NULL,
    Imagen VARCHAR(1000) NOT NULL,
	
    CONSTRAINT FK_ToursImagenes_Tours FOREIGN KEY (TourID)
        REFERENCES dbo.Tours (TourID)
);