-- =====================================================
-- Object:  Table [dbo].[Usuarios]
-- =====================================================

CREATE TABLE [dbo].Usuarios (
    UsuarioID BIGINT IDENTITY(1,1) PRIMARY KEY,
    Identificacion VARCHAR(15) NOT NULL,
    Nombre VARCHAR(50) NOT NULL,
    ApellidoPaterno VARCHAR(50) NOT NULL,
    ApellidoMaterno VARCHAR(50) NOT NULL,
    Correo VARCHAR(100) NOT NULL,
    Contrasenna VARCHAR(255) NOT NULL,
    TieneContrasennaTemp BIT NULL,
    FechaVencimientoTemp DATETIME NULL,
    Estado BIT NOT NULL DEFAULT 1,
    RolID BIGINT NOT NULL,
    
    CONSTRAINT UQ_Usuarios_Correo UNIQUE (Correo),
    CONSTRAINT UQ_Usuarios_Identificacion UNIQUE (Identificacion),
    CONSTRAINT FK_Usuarios_Roles FOREIGN KEY (RolID) REFERENCES dbo.Roles(RolID)
);