@* @model List<CapaTours.Models.ClientesModel>*@

<div class="row px-5">
	<div class="col-12">
		<div class="row">
			<div class="col-6">
				<div class="display-3 px-0">Clientes</div>
				<div class="text-muted px-0 ">Listado de todos los clientes registrados en el sistema.</div>
				<br>
			</div>
		</div>


		<div class="row mt-3 mb-2"></div>
		<div class="row">
			<div class="col-12 px-0">
				<div class="table-responsive shadow-lg" style="background-color: #f9f9f9; border-left: 5px solid #44572f; border-radius: 10px;">
					<table id="example" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Columna #1</th>
								<th>Columna #2</th>
								<th>Columna #3</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							@*Aquí van los resultados del query *@
							<tr>
								<td>"Ejemplo"</td>
								<td>"Ejemplo"</td>
								<td>"Ejemplo"</td>
								<td class="text-center">

									@* Abre un form con los datos poblados dinámicante del usuario de la fila, permite ver/editar los datos del usuario *@
									<a href="@Url.Action("", "")" class="btn btn-sm" style="background-color: #7B9C36; color:white">
										<i class="fas fa-edit"></i> Editar Detalles
									</a>

									@* A futuro hay que agregar otro boton/modal que solo se muestren cuando Estado = 0, para reactivar la cuenta *@
									<button class="btn btn-sm btn-danger me-1" data-bs-toggle="modal" data-bs-target="#desactivarClienteModal">
										<i class="fa-solid fa-user-slash"></i> Desactivar Cuenta
									</button>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="desactivarClienteModal" tabindex="-1" aria-labelledby="desactivarClienteModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="desactivarClienteModalLabel">Confirmar Desactivación</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>¿Está seguro de que desea desactivar esta cuenta?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-danger">Desactivar</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {

		$("#example").DataTable({
			language: {
				url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
			},
			responsive: true,
			columnDefs: [
				{
					targets: [2],
					className: 'text-center'
				}
			],
			order: [[0, 'desc']]
		});

	});
</script>